name: Build and Package

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-2022
    
    env:
      Solution_Name: NoFences.sln
      Configuration: Release
      
    steps:
    - name: Checkout
      uses: actions/checkout@v4
      
    - name: Setup MSBuild
      uses: microsoft/setup-msbuild@v1.3.1
      with:
        msbuild-architecture: x86

    - name: Setup .NET SDK
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '8.0.x'

    - name: Set up environment for signing
      run: |
        echo "CERTIFICATE_PASSWORD=${{ secrets.CERTIFICATE_PASSWORD }}" >> $env:GITHUB_ENV

        $cert_path = "${{ runner.temp }}\signing_cert.pfx"
        [System.IO.File]::WriteAllBytes($cert_path, [System.Convert]::FromBase64String("${{ secrets.SIGNING_CERTIFICATE }}"))
        echo "CERTIFICATE_PATH=$cert_path" >> $env:GITHUB_ENV
      shell: pwsh

    - name: Install WiX Toolset
      run: dotnet tool install --global wix

    - name: Build Solution
      run: |
        msbuild.exe $env:Solution_Name -t:Restore
        msbuild.exe $env:Solution_Name /p:Configuration=$env:Configuration /p:Platform="Any CPU" /p:UseSharedCompilation=false

    - name: Upload NoFences Installer
      uses: actions/upload-artifact@v4
      with:
        name: NoFences-Installer
        path: NoFences.Installer\bin\Release\NoFences.msi
    
    - name: Upload NoFences bootstrap
      uses: actions/upload-artifact@v4
      with:
        name: NoFences-Installer-bootstrap
        path: NoFences.Installer\bin\Release\NoFences.bootstrap.exe