name: Build and Package

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-2022
    
    env:
      Solution_Name: NoFences.sln
      Configuration: Release
      
    steps:
    - name: Checkout
      uses: actions/checkout@v4
      
    - name: Setup MSBuild
      uses: microsoft/setup-msbuild@v1.3.1
      with:
        msbuild-architecture: x86

    - name: Setup NuGet
      uses: NuGet/setup-nuget@v1
      
    - name: Restore NuGet Packages
      run: nuget restore $env:Solution_Name
      
    - name: Decode PFX
      run: |
        $pfx_cert_b64 = "${{ secrets.SIGNING_CERTIFICATE }}"
        $pfx_password = "${{ secrets.CERTIFICATE_PASSWORD }}"
        $pfx_path = Join-Path $env:TEMP "nofences.pfx"
        [System.IO.File]::WriteAllBytes($pfx_path, [System.Convert]::FromBase64String($pfx_cert_b64))
        echo "pfx_password=$pfx_password" | Out-File -FilePath $env:GITHUB_ENV -Encoding utf8 -Append
        echo "pfx_path=$pfx_path" | Out-File -FilePath $env:GITHUB_ENV -Encoding utf8 -Append
      shell: pwsh

    - name: Build Solution
      run: msbuild.exe $env:Solution_Name /p:Configuration=$env:Configuration /p:Platform="Any CPU"

    - name: Sign Assemblies
      run: |
        $pfx_path = "${{ env.pfx_path }}"
        $pfx_password = "${{ env.pfx_password }}"
        $sign_tool_paths = Get-ChildItem -Path "C:\Program Files (x86)\Windows Kits\10\bin" -Recurse -Filter "signtool.exe" | Where-Object { $_.FullName -like '*x64*' } | Select-Object -ExpandProperty FullName
        $sign_tool = $sign_tool_paths | Select-Object -First 1
        Get-ChildItem -Path . -Recurse -Include *.exe, *.dll | ForEach-Object {
          if ((Get-AuthenticodeSignature $_.FullName).Status -eq 'NotSigned') {
            & $sign_tool sign /f $pfx_path /p $pfx_password /fd SHA256 /t http://timestamp.digicert.com $_.FullName
          }
        }
      shell: pwsh
      
    - name: Build Installer
      run: |
        $devenv_path = (Get-ChildItem -Path "C:\Program Files\Microsoft Visual Studio\2022" -Recurse -Filter "devenv.com" | Select-Object -ExpandProperty FullName | Select-Object -First 1)
        & $devenv_path "NoFencesInstaller\NoFencesInstaller.vdproj" /Build "$env:Configuration"
        
    - name: Upload Build Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: NoFences-Installer
        path: |
          NoFencesInstaller/${{ env.Configuration }}/*.msi
          NoFencesInstaller/${{ env.Configuration }}/setup.exe